* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    min-width: 375px;
}

ul {
    list-style: none;
}

.card-section {
    background-color: #eff2f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1170px;
    min-height: 800px;
    background: #fff;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    padding: 60px 0 70px;
    display: flex;
}

.product-images-block {
    border-right: 2px solid rgba(20, 20, 20, 0.15);
    min-width: 540px;
}

.main-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-img {
    width: 300px;
    height: 322px;
}

.preview-wrapper {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.preview {
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.preview:hover,
.preview.selected {
    box-shadow: 8px 8px 16px 0px rgba(81, 91, 117, 0.25)

}

.product-description-block {
    padding: 0 60px;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);
    margin-bottom: 5px;
}

.subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 60px;
    display: inline-block;
}

.description {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 65px;
}

.colors {
    margin-bottom: 65px;
}

.wrapper {
    display: flex;
}

.wrapper > div {
    flex-grow: 1;
}

.option-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}

.colors-list {
    display: flex;
    gap: 40px;
}

.circle {
    border-radius: 100%;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
    width: 16px;
    height: 16px;
}

.blue {
    background-color: #013c7d;
}
.green {
    background-color: #63cba7;
}
.red {
    background-color: #d52f29;
}
.black {
    background-color: #141414;
}
.yellow {
    background-color: #f2c723;
}

.color-item {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    padding: 7px;
}

.colors-list > li {
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.colors-list > li:hover,
.colors-list > li.selected{
    box-shadow: 2px 2px 6px 0px rgba(81, 91, 117, 0.25);
}

.color-item.selected {
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
}

.quantity {
    width: 80px;
    height: 24px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
    border: none;
    appearance: none;
    background-image: url("assets/images/ph_caret-down-bold.svg");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

.price {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
}

.card-btn {
    width: 510px;
    height: 70px;
    background-color: #141414;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 75px;
    cursor: pointer;
    transition: 0.2s;
}

.card-btn:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 1440px) {
    .card {
        width: 690px;
        flex-direction: column;
        margin: 40px;
    }

    .product-images-block {
        border-right: none;
        border-bottom: 2px solid rgba(20, 20, 20, 0.15);
    }

    .product-images-block .preview-wrapper {
        margin: 60px 0 70px;
    }

    .product-description-block .card-title {
        padding-top: 60px;
    }
}

@media screen and (max-width: 576px) {
    .card {
        margin: 15px;
    }

    .product-images-block {
        min-width: auto;
    }

    .product-images-block .main-img-wrapper .main-img {
        width: 250px;
        height: auto;
    }

    .product-description-block {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }

    .product-description-block .card-title {
        font-size: 34px;
    }

    .product-description-block .subtitle {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .product-description-block .description {
        font-size: 16px;
        margin-bottom: 55px;
    }

    .product-description-block .card-btn {
        margin-top: 65px;
    }
}

